.dank-ass-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.arrow {
  width: 0;
  height: 0;
  margin: 0 -6px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 21.6px solid #e3ddd7;
  animation: blink 1s infinite;
  filter: drop-shadow(0 0 18px #c1bfbc);
}

.arrow.down {
  transform: rotate(180deg);
}

/* Outer Animation Delay */
.arrow.outer-1 { animation-delay: -0.055s; }
.arrow.outer-2 { animation-delay: -0.11s; }
.arrow.outer-3 { animation-delay: -0.165s; }
.arrow.outer-4 { animation-delay: -0.22s; }
.arrow.outer-5 { animation-delay: -0.275s; }
.arrow.outer-6 { animation-delay: -0.33s; }
.arrow.outer-7 { animation-delay: -0.385s; }
.arrow.outer-8 { animation-delay: -0.44s; }
.arrow.outer-9 { animation-delay: -0.495s; }
.arrow.outer-10 { animation-delay: -0.55s; }
.arrow.outer-11 { animation-delay: -0.605s; }
.arrow.outer-12 { animation-delay: -0.66s; }
.arrow.outer-13 { animation-delay: -0.715s; }
.arrow.outer-14 { animation-delay: -0.77s; }
.arrow.outer-15 { animation-delay: -0.825s; }
.arrow.outer-16 { animation-delay: -0.88s; }
.arrow.outer-17 { animation-delay: -0.935s; }
.arrow.outer-18 { animation-delay: -0.99s; }

/* Inner Animation Delay */
.arrow.inner-1 { animation-delay: -0.166s; }
.arrow.inner-2 { animation-delay: -0.333s; }
.arrow.inner-3 { animation-delay: -0.5s; }
.arrow.inner-4 { animation-delay: -0.666s; }
.arrow.inner-5 { animation-delay: -0.833s; }
.arrow.inner-6 { animation-delay: -1s; }

@keyframes blink {
  0% { opacity: 0.1; }
  30% { opacity: 1; }
  100% { opacity: 0.1; }
}
